@tailwind base;
@tailwind components;
.card-l:first-child{
  margin-left: 0;
}
.card-r:last-child{
  margin-right: 0;
}
.bg-warm{
  background-image: url(./../img/forest-3119826_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}
.bg-cool{
  background-image: url(./../img/sky-690293_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
}
@-webkit-keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -7.5rem, 0);
  }
}
@keyframes bouncing-loader {
  to {
    opacity: 0.1;
    transform: translate3d(0, -7.5rem, 0);
  }
}

.bouncing-loader {
  display: flex;
  justify-content: center;
}

.bouncing-loader > div {
  width: 1.25rem;
  height: 1.25rem;
  margin: 3rem .75rem;
  background: #fefefe;
  border-radius: 50%;
  -webkit-animation: bouncing-loader 0.6s infinite alternate;
          animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader > div:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.bouncing-loader > div:nth-child(3) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.scrollbar-none::-webkit-scrollbar{
  width: 0;
  background: transparent;
}
.btn-eased {
  -webkit-animation: through 300ms ease-in alternate;
          animation: through 300ms ease-in alternate;
}
@-webkit-keyframes through {
  from {
    transform: translateY(5rem) scale(0);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
@keyframes through {
  from {
    transform: translateY(5rem) scale(0);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
.animation-delay-100 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.animation-delay-200 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.animation-delay-300 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
@tailwind utilities;